<script th:inline="javascript" th:fragment="i18nMessages">
	document.addEventListener("DOMContentLoaded", () => {

		$L('name', /*[[#{name}]]*/);
		$L('delete', /*[[#{delete}]]*/);
		$L('write.name.here', /*[[#{write.name.here}]]*/);
		$L('external.id', /*[[#{external.id}]]*/);
		$L('write.external.id.here', /*[[#{write.external.id.here}]]*/);
		$L('description', /*[[#{description}]]*/);
		$L('write.description.here', /*[[#{write.description.here}]]*/);
		$L('save', /*[[#{datahub.save}]]*/);
		$L('cancel', /*[[#{cancel}]]*/);
		$L('metadata', /*[[#{metadata}]]*/);
		$L('key', /*[[#{key}]]*/);
		$L('value', /*[[#{value}]]*/);
		$L('add.metadata', /*[[#{add.metadata}]]*/);
		$L('metadata.key.here', /*[[#{metadata.key.here}]]*/);
		$L('metadata.value.here', /*[[#{metadata.value.here}]]*/);
		$L('deactivated', /*[[#{deactivated}]]*/);
		$L('write.protected', /*[[#{write.protected}]]*/);
		$L('confirm', /*[[#{confirm}]]*/);
		$L('close', /*[[#{close}]]*/);
		$L('search.for.events', /*[[#{search.for.events}]]*/);
		$L('write.query.here', /*[[#{write.query.here}]]*/);
		$L('no.results.found', /*[[#{no.results.found}]]*/);
	});
</script>
