<script th:inline="javascript" th:fragment="i18nMessages">
	document.addEventListener("DOMContentLoaded", () => {

		$L('name', /*[[#{name}]]*/);
		$L('delete', /*[[#{delete}]]*/);
		$L('save', /*[[#{datahub.save}]]*/);
		$L('cancel', /*[[#{cancel}]]*/);
		$L('confirm', /*[[#{confirm}]]*/);
		$L('update', /*[[#{update}]]*/);
		$L('close', /*[[#{close}]]*/);
		$L('external.id', /*[[#{external.id}]]*/);
		$L('i18ncode', /*[[#{i18ncode}]]*/);
		$L('main.units', /*[[#{main.units}]]*/);
		$L('symbol', /*[[#{symbol}]]*/);
		$L('write.description.here', /*[[#{write.description.here}]]*/);
		$L('write.name.here', /*[[#{write.name.here}]]*/);
		$L('description', /*[[#{description}]]*/);
		$L('stabilize.network', /*[[#{stabilize.network}]]*/);
		$L('create.relation.between.2.nodes', /*[[#{create.relation.between.2.nodes}]]*/);
		$L('filter', /*[[#{filter}]]*/);
		$L('filter.by.name', /*[[#{filter.by.name}]]*/);
		$L('labels', /*[[#{labels}]]*/);
		$L('clear.filters', /*[[#{clear.filters}]]*/);

		$L('messages.per.second', /*[[#{messages.per.second}]]*/);
		$L('message.throughput.per.second', /*[[#{message.throughput.per.second}]]*/);
		$L('average.msg.size', /*[[#{average.msg.size}]]*/);
		$L('total.messages', /*[[#{total.messages}]]*/);
		$L('total.megabytes', /*[[#{total.megabytes}]]*/);
		$L('subscriptions', /*[[#{subscriptions}]]*/);

		$L('are.you.sure.delete.entity', /*[[#{are.you.sure.delete.entity}]]*/);
		$L('edit.resource', /*[[#{edit.resource}]]*/);
		$L('main.label', /*[[#{main.label}]]*/);
		$L('add.label', /*[[#{add.label}]]*/);
		$L('write.external.id.here', /*[[#{write.external.id.here}]]*/);
		$L('source', /*[[#{source}]]*/);
		$L('write.data.source.here', /*[[#{write.data.source.here}]]*/);
		$L('main.metadata', /*[[#{main.metadata}]]*/);
		$L('main.key', /*[[#{main.key}]]*/);
		$L('main.value', /*[[#{main.value}]]*/);
		$L('add.metadata', /*[[#{add.metadata}]]*/);
		$L('metadata.key.here', /*[[#{metadata.key.here}]]*/);
		$L('metadata.value.here', /*[[#{metadata.value.here}]]*/);
		$L('choose.label', /*[[#{choose.label}]]*/);
		$L('create.label', /*[[#{create.label}]]*/);
		$L('write.label.name.here', /*[[#{write.label.name.here}]]*/);
		$L('write.i18n.code.here', /*[[#{write.i18n.code.here}]]*/);
		$L('color', /*[[#{color}]]*/);
		$L('unit.external.id', /*[[#{unit.external.id}]]*/);
		$L('write.relation.name.here', /*[[#{write.relation.name.here}]]*/);
		$L('deactivated', /*[[#{deactivated}]]*/);
		$L('write.protected', /*[[#{write.protected}]]*/);
		$L('search.for.dataset', /*[[#{search.for.dataset}]]*/);
		$L('write.query.here', /*[[#{write.query.here}]]*/);

		$L('create.edge', /*[[#{create.edge}]]*/);
		$L('edit.edge', /*[[#{datahub.editedge}]]*/);
		$L('relationship', /*[[#{datahub.relationship}]]*/);
		$L('from.relations', /*[[#{from.relations}]]*/);
		$L('selected.relationship', /*[[#{selected.relationship}]]*/);
		$L('selected.resource', /*[[#{selected.resource}]]*/);
		$L('select.resource.and.relationship', /*[[#{select.resource.and.relationship}]]*/);
		$L('select.at.least.one.node.and.one.relation', /*[[#{select.at.least.one.node.and.one.relation}]]*/)
		$L('relations', /*[[#{relations}]]*/);
		$L('to.node', /*[[#{datahub.tonode}]]*/);
		$L('from.node', /*[[#{datahub.fromnode}]]*/);
		$L('edge.dataset.requires.belongs.to', /*[[#{edge.dataset.requires.belongs.to}]]*/);
		$L('edge.timeseries.already.in.dataset', /*[[#{edge.timeseries.already.in.dataset}]]*/);
		$L('create.timeseries', /*[[#{create.timeseries}]]*/);
		$L('main.unit', /*[[#{main.unit}]]*/);
		$L('bigint', /*[[#{bigint}]]*/);
		$L('float', /*[[#{float}]]*/);
		$L('datahub.numeric', /*[[#{datahub.numeric}]]*/);
		$L('text', /*[[#{text}]]*/);
		$L('is.step', /*[[#{is.step}]]*/);
		$L('choose.dataset', /*[[#{choose.dataset}]]*/);
		$L('value.type', /*[[#{value.type}]]*/);
		$L('search.for.resource', /*[[#{search.for.resource}]]*/);
		$L('write.resource.name.here', /*[[#{write.resource.name.here}]]*/);

		$L('relationships', /*[[#{relationships}]]*/);
		$L('edit.timeseries', /*[[#{edit.timeseries}]]*/);
		$L('create.relationship', /*[[#{create.relationship}]]*/);
		$L('create.resource.and.relation', /*[[#{create.resource.and.relation}]]*/);

		$L('picker.weekRange.confirm', /*[[#{picker.weekRange.confirm}]]*/);
		$L('insights.maxTimeseries.warning', /*[[#{insights.maxTimeseries.warning}]]*/);
		$L('insights.live.start', /*[[#{insights.live.start}]]*/);
	});
</script>