<script th:inline="javascript" th:fragment="i18nMessages">
	document.addEventListener("DOMContentLoaded", () => {

		$L('name', /*[[#{name}]]*/);
		$L('main.label', /*[[#{main.label}]]*/);
		$L('create.root.resource', /*[[#{create.root.resource}]]*/);
		$L('create.label', /*[[#{create.label}]]*/);
		$L('delete', /*[[#{delete}]]*/);
		$L('save', /*[[#{datahub.save}]]*/);
		$L('color', /*[[#{color}]]*/);
		$L('save.label', /*[[#{save.label}]]*/);
		$L('add.label', /*[[#{add.label}]]*/);
		$L('choose.label', /*[[#{choose.label}]]*/);
		$L('edit.label', /*[[#{edit.label}]]*/);
		$L('cancel', /*[[#{cancel}]]*/);
		$L('confirm', /*[[#{confirm}]]*/);
		$L('update', /*[[#{update}]]*/);
		$L('close', /*[[#{close}]]*/);
		$L('external.id', /*[[#{external.id}]]*/);
		$L('i18ncode', /*[[#{i18ncode}]]*/);
		$L('write.description.here', /*[[#{write.description.here}]]*/);
		$L('write.name.here', /*[[#{write.name.here}]]*/);
		$L('write.external.id.here', /*[[#{write.external.id.here}]]*/);
		$L('write.label.name.here', /*[[#{write.label.name.here}]]*/);
		$L('write.i18n.code.here', /*[[#{write.i18n.code.here}]]*/);
		$L('no.label.found.write.label.name.here', /*[[#{no.label.found.write.label.name.here}]]*/);
		$L('description', /*[[#{description}]]*/);
		$L('source', /*[[#{source}]]*/);
		$L('relationship', /*[[#{datahub.relationship}]]*/);
		$L('are.you.sure.delete.entity', /*[[#{are.you.sure.delete.entity}]]*/);
		$L('could.not.delete.label', /*[[#{could.not.delete.label}]]*/);
		$L('write.data.source.here', /*[[#{write.data.source.here}]]*/);
		$L('create.asset.and.relation', /*[[#{create.asset.and.relation}]]*/);
		$L('create.relationship', /*[[#{create.relationship}]]*/);
		$L('relationships', /*[[#{relationships}]]*/);
		$L('filter', /*[[#{filter}]]*/);
		$L('filter.by.name', /*[[#{filter.by.name}]]*/);
		$L('labels', /*[[#{labels}]]*/);
		$L('clear.filters', /*[[#{clear.filters}]]*/);
		$L('write.relation.name.here', /*[[#{write.relation.name.here}]]*/);
		$L('edit.relationship', /*[[#{edit.relationship}]]*/);
		$L('edit.resource', /*[[#{edit.resource}]]*/);
		$L('edit.edge', /*[[#{datahub.editedge}]]*/);
		$L('create.edge', /*[[#{create.edge}]]*/);
		$L('from.node', /*[[#{datahub.fromnode}]]*/);
		$L('to.node', /*[[#{datahub.tonode}]]*/);
		$L('edge.dataset.requires.belongs.to', /*[[#{edge.dataset.requires.belongs.to}]]*/);
		$L('edge.timeseries.already.in.dataset', /*[[#{edge.timeseries.already.in.dataset}]]*/);
		$L('clone.resource', /*[[#{clone.resource}]]*/);
		$L('search.for.resource', /*[[#{search.for.resource}]]*/);
		$L('write.resource.name.here', /*[[#{write.resource.name.here}]]*/);
		$L('select.at.least.one.relation', /*[[#{select.at.least.one.relation}]]*/);
		$L('create.relation.between.2.nodes', /*[[#{create.relation.between.2.nodes}]]*/);
		$L('stabilize.network', /*[[#{stabilize.network}]]*/);
		$L('main.metadata', /*[[#{main.metadata}]]*/);
		$L('metadata.key.here', /*[[#{metadata.key.here}]]*/);
		$L('metadata.value.here', /*[[#{metadata.value.here}]]*/);
		$L('add.metadata', /*[[#{add.metadata}]]*/);
		$L('main.key', /*[[#{main.key}]]*/);
		$L('main.value', /*[[#{main.value}]]*/);
		$L('sum.of.relations.for.start.node.will.be.0.and.node.will.be.deleted', /*[[#{sum.of.relations.for.start.node.will.be.0.and.node.will.be.deleted}]]*/);
		$L('sum.of.relations.for.end.node.will.be.0.and.node.will.be.deleted', /*[[#{sum.of.relations.for.end.node.will.be.0.and.node.will.be.deleted}]]*/);
		$L('resource.needs.at.least.one.label', /*[[#{resource.needs.at.least.one.label}]]*/);
		$L('create.resource.and.relation', /*[[#{create.resource.and.relation}]]*/);
		$L('create.dataset', /*[[#{create.dataset}]]*/);
		$L('edit.dataset', /*[[#{edit.dataset}]]*/);
		$L('search.for.dataset', /*[[#{search.for.dataset}]]*/);
		$L('export.graph', /*[[#{export.graph}]]*/);
		$L('import.graph', /*[[#{import.graph}]]*/);
		$L('graph.export.failed', /*[[#{graph.export.failed}]]*/);
		$L('graph.import.failed', /*[[#{graph.import.failed}]]*/);
		$L('graph.import.done', /*[[#{graph.import.done}]]*/);
		$L('graph.import.skipped.timeseries', /*[[#{graph.import.skipped.timeseries}]]*/);
	});
</script>
